body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#background {
  background-image: url("../Assets/Images/background_formaunivstraslpdwca21.jpg");
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
}

figcaption {
  font-style: italic;
  background-color: black;
  width: 100%;
  color: white;
}

